{% extends 'forum/pages/base.html' %}
{% load crispy_forms_tags %}    
{% load static %}

{% block title %}
Account Login
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}  
<div class="d-flex justify-content-center align-items-center h-100">
    <form action="" method="POST" class="bg-light shadow rounded p-5">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-primary px-4 py-2" type="submit">Entrar</button>
            <a class="btn btn-dark px-3 py-2" href="{% url 'forum:topics-list' %}">Cancelar</a>
        </div>
        <p>Não tem uma conta? Crie uma <a href="{% url 'forum:user-register' %}">aqui</a></p>
    </form>
</div>
{% endblock %}